@page "/Account/ForgotPasswordConfirmation"
@using BudgetR.Modules.Layout
@layout PublicLayout
<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
