@page "/SystemAdmin/"
@using BudgetR.Core.Enums
@using BudgetR.Modules.Layout
@using BudgetR.Server.Application.Handlers.System
@inject ISnackbar Snackbar
@inject IMediator _mediator
@inject NavigationManager NavigationManager

<ToolBarPageTemplate BodyColums="6" ToolBarColumns="6">
    <ToolBarTitle>System Operations Dashboard</ToolBarTitle>
    <ToolBarLeftSide></ToolBarLeftSide>
    <ToolBarRightSide>
    </ToolBarRightSide>
    @* This is the body of the page *@
    <Body>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Edge="Edge.End" Size="Size.Small" OnClick="RunInactivatePastMonths">Run InactivatePastMonths Process</MudButton>
    </Body>
</ToolBarPageTemplate>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (!IsAdminOrModerator())
        {
            NavigationManager.NavigateTo("/Dashboard");
        }
    }
    
    private bool IsAdminOrModerator()
    {
        return _state.UserType == UserType.SystemAdmin;
    }
    private async Task RunInactivatePastMonths()
    {
        var result = await _mediator.Send(new InactivatePastMonths.Request());
        if (result.IsSuccess)
        {
            Snackbar.Add("InactivatePastMonths Process has been run.", Severity.Success);
        }
        else
        {
            Snackbar.Add("InactivatePastMonths Process has failed.", Severity.Error);
        }
    }
}
