@page "/"
<h3>Home</h3>

<div>
    <NavLink class="nav-link" href="Account/Register">
        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
    </NavLink>
</div>
<div>
    <NavLink class="nav-link" href="Account/Login">
        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
    </NavLink>
</div>

