@page "/FinishRegistration"
@using BudgetR.Core
@using BudgetR.Core.Identity
@using BudgetR.Server.Application.Handlers.Users
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject IMediator _mediator
@inject NavigationManager NavigationManager
@inject StateContainer _state

<h3>Complete your profile</h3>
<MudForm @ref="form" @bind-IsValid="@success">
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudTextField Label="Email" @bind-Value="email" Disabled="true" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Household Name" @bind-Value="finishRegistration.HouseholdName" Required="true" RequiredError="Household name is required!" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="First Name" @bind-Value="finishRegistration.FirstName" Required="true" RequiredError="First name is required!" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Last Name" @bind-Value="finishRegistration.LastName" />
        </MudItem>
        <MudItem xs="12">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@(()=>Submit())">Register</MudButton>
        </MudItem>
    </MudGrid>
</MudForm>

@code {
    /*
    * SUMMARY - This page is finishing the registration process after they sign up with a email and password
    */
    protected FinishRegistration finishRegistration = new();
    protected string email = "";
    bool success;
    string[] errors = { };
    MudForm form;

    // protected override async Task OnInitializedasync()
    // {
    //     // email = _state.email;
    // }

    protected async Task Submit()
    {
        var result = await _mediator.Send(new CreateHousehold.Request(finishRegistration.HouseholdName, finishRegistration.FirstName, finishRegistration.LastName));

        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/Dashboard");
        }
    }

    protected class FinishRegistration
    {
        public string HouseholdName { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
}