@using BudgetR.Core
@inject StateContainer _state
@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <AuthorizeView>
        <Authorized>
                <MudNavLink Href="/Dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
                <MudNavLink Href="/weather" Match="NavLinkMatch.Prefix">Weather</MudNavLink>
                <MudNavLink>
                    <NavLink href="Account/Manage">
                        @* @context.User.Identity?.Name *@
                        Manage Account
                    </NavLink>
                </MudNavLink>
                <MudNavLink>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit">
                            Logout
                        </button>
                    </form>
                </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="/">Home</MudNavLink>
            <MudNavLink href="Account/Register">
                Register
            </MudNavLink>
            <MudNavLink href="Account/Login">
                Login
            </MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

