<h3>Complete your profile</h3>


@code {
    /*
    * SUMMARY - This page is finishing the registration process after they sign up with a email and password
    */
    protected override async Task OnInitializedAsync()
    {

    }
}